BODY {
  font-family: sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 0.9em;
}

.column {
  display: inline-block;
  vertical-align: top;
}

.control {
  margin: 1em;
}

.header {
  background-color: #E5ECF9;
  border-bottom: 1px solid #36C;
  padding: 0.1em 0.3em;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: bold;
}